{% extends "base.html" %}
{% load static %}
{% block title %}Inicio | BookFlare{% endblock %}

{% block content %}

<div style="margin-top:40px;">

    

<form method="get" class="search-bar">

    <input
        type="text"
        name="q"
        placeholder="Buscar por título..."
        value="{{ query }}"
        class="search-input"
    >

    <input
        type="text"
        name="genero"
        placeholder="Filtrar por género..."
        value="{{ genero_seleccionado }}"
        class="search-input"
    >

    <button type="submit" class="btn btn--primary btn--sm">
        Buscar
    </button>

</form>

    {% if user.is_authenticated and user.es_bibliotecario %}
        <a class="btn btn--success btn--sm" href="{% url 'libro_crear' %}">
            Registrar libro
        </a>
    {% endif %}
        
    {% if generos %}

        {% for genero, libros in generos.items %}

            <section style="margin-bottom:60px;">

                <!-- TÍTULO DEL GÉNERO -->
                <h2 style="
                    font-size:1.6rem;
                    font-weight:600;
                    margin-bottom:15px;
                    border-left:4px solid #a38f73;
                    padding-left:10px;
                ">
                    {{ genero }}
                </h2>

                <!-- SLIDER HORIZONTAL -->
                <div style="
                    display:flex;
                    gap:20px;
                    overflow-x:auto;
                    padding:40px 40px 20px 40px;
                    scroll-behavior:smooth;
                    position:relative;
                    padding-bottom:10px;
                ">

                    {% for libro in libros %}
                    
                        <a href="{% url 'libro_detalle' libro.isbn %}"
                            style="
                                min-width:180px;
                                text-decoration:none;
                                color:inherit;
                                transition:transform 0.3s ease;
                                position:relative;
                                transform-origin:center center;
                            "

                            onmouseover="this.style.transform='scale(1.08) translateY(-15px)'; this.style.zIndex='10';"
                            onmouseout="this.style.transform='scale(1)'; this.style.zIndex='1';"
                        >

                            <!-- PORTADA -->
                            {% if libro.portada %}
                                <img src="{{ libro.portada.url }}"
                                    style="
                                        width:180px;
                                        height:260px;
                                        object-fit:cover;
                                        border-radius:12px;
                                        box-shadow:0 8px 20px rgba(0,0,0,0.4); ">
                            {% else %}
                                <div style="
                                    width:180px;
                                    height:260px;
                                    background:#2a2a2a;
                                    display:flex;
                                    align-items:center;
                                    justify-content:center;
                                    border-radius:12px;
                                    color:#aaa;
                                ">
                                    Sin portada
                                </div>
                            {% endif %}

                            <!-- INFO -->
                            <div style="margin-top:8px;">
                                <div style="font-weight:600; font-size:0.95rem;">
                                    {{ libro.titulo }}
                                </div>
                                <div style="font-size:0.8rem; color:#aaa;">
                                    {{ libro.autor }}
                                </div>
                            </div>

                        </a>

                    {% endfor %}

                </div>

            </section>

        {% endfor %}

    {% else %}

        <div style="text-align:center; margin-top:60px;">
            <h2>No hay libros disponibles</h2>
            <p style="color:#777;">Pronto añadiremos nuevos títulos.</p>
        </div>

    {% endif %}

</div>

{% endblock %}